DB_HOST="localhost"
DB_PORT="5685"
DB_USER="poupig_novo_projeto"
DB_PASSWORD="docker"
DB_NAME="poupig_novo_projeto_db"
DATABASE_URL="postgresql://poupig_novo_projeto:docker@localhost:5685/poupig_novo_projeto_db?schema=public"
PORT="4000"
